
div
{
    text-align: center;
    font-size: 12pt;
}
h1
{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #1d1d1f;
    color: #fff;
}
#am, #um
{
    font-size: 10pt;
}
#locationText, #dateText, #timeText
{
    font-weight: bold;
    font-size: 16pt;
}
th
{
    padding: 1em;
    font-size: 1.5em;
}
table
{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
table td
{
    padding: 0.4em;
    text-align: center;
    border-right: 2px solid;
}
table tr:first-child td {
    width: auto;
}
table tr td:last-child {
    border-right: 0;
}